@media (max-width: 1200px) {
  html {
    font-size: 95%;
  }
}
@media (max-width: 1000px) {
  html {
    font-size: 90%;
  }
}
@media (max-width: 800px) {
  html {
    font-size: 80%;
  }
}
@media (max-width: 700px) {
  html {
    font-size: 75%;
  }
}
